@model ActivityType

<h1> Activity Type Details </h1>

<fieldset class="align-top border custom-control-inline mb-4 p-2 shadow">
    <legend> Set New Goals </legend>

    <table>
        <tr>
            <th class="text-right"> Goal ID: </th>
            <td> <input aps-fpr="GoalID" /> </td>
        </tr>
        <tr>
            <th class="text-right"> Activity ID: </th>
            <td> <input aps-fpr="ActivityID" />  </td>
        </tr>
        <tr>
            <th class="text-right"> Time: </th>
            <td> <input aps-fpr="Time" /> </td>
        </tr>
        <tr>
            <th class="text-right"> Distance: </th>
            <td> <input aps-fpr="Distance" /> </td>
        </tr>
        <tr>
            <th class="text-right"> Location: </th>
            <td> <input aps-fpr="Location" /> </td>
        </tr>


        <tr>
            <td class="text-center" colspan="2">
                <button class="btn-sm btn-info ml-1 mr-1"> Back </button>
                <button class="btn-sm btn-success ml-1 mr-1"> Save </button>
                <button class="btn-sm btn-danger ml-1 mr-1"> Delete </button>
            </td>
        </tr>
    </table>
</fieldset>


