@model ActivityRecord

<h1> Add New Activity Record </h1>

<form method="post">

    RecordID:
    <input asp-for="RecordID" />
    <br />

    ActivityID:
    <input asp-for="ActivityId" />
    <br />

    Date:
    <input asp-for="Date" type="date" />
    <br />

    Location:
    <input asp-for="Location" />
    <br />

    Distance:
    <input asp-for="Distance" />
    <br />

    TimeRecord:
    <input asp-for="TimeRecord" />
    <br />

    <input type="submit" value="Add this activity to your record" class="btn btn-sm btn-info" />

</form>